.contenedorCarrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedorItemComprado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid grey;
}

.contenedorItemComprado div{
    margin: 0 30px;
}

.imgCompra img{
    width: 150px;
}

.eliminarItem button{
    border: none;
}
.eliminarItem img{
    border: none;
    width: 50px;
}

.carritoVacio{
    text-align: center;
}

.carritoVacio button{
    border-radius: 5px;
    background-color: rgb(19, 120, 187);
    color: white;
    
}

.vaciarCarritoContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.vaciarCarrito{
    border-radius: 5px;
    background-color: rgb(19, 120, 187);
    color: white;
    border: none;
    padding: 3px;  
}

.confirmarCompra{
    border-radius: 5px;
    background-color: rgb(19, 120, 187);
    color: white;
    border: none;
    padding: 3px;
}

.mensajeError{
    background-color: lightcoral;
    border-radius: 3px;
    margin-top: 15px;
    padding: 5px;
    
}

