.contenedorDetalle{
    display: flex;
    justify-content: space-evenly;
    border: solid black 3px;
    border-radius: 5px;
    margin: 30px 10%;
}

.fotoDetalle img{
    width: 50%
}

.descripcionDetalle{
    align-items: center;
}

.controladoresCompra{
    display: flex;
    margin: 20px;
}

.controladoresCompra button{
    margin: 0 10px;
    border-radius: 5px;
    background-color: rgb(19, 120, 187);
    color: white;
}

