/* INICIO NAVBAR */
.App-navbar{
    background-color: lightblue;
}
  
.App-navbar nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 0;
}
  
.App-navbar nav ul li{
    margin-right: 50px;
    
}
  
.App-navbar nav ul li:first-child{
    margin-right: auto;
    margin-left: 50px;
}
  
.App-navbar nav ul li a{
    text-decoration: none;
    color: black;
}

.App-navbar nav ul li a:hover{
   background-color: grey;
   
}

img{
    width: 60px;
}
/* FIN NAVBAR */